<a uib-dropdown-toggle data-toggle="dropdown" href="#">
  {{currency.symbol}} <span class="caret"></span>
</a>
<ul uib-dropdown-menu>
  <li>
  <a data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('XRN')" data-ng-class="{active: currency.symbol == 'XRN'}">XRN</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('mXRN')" data-ng-class="{active: currency.symbol == 'mXRN'}">mXRN</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('uXRN')" data-ng-class="{active: currency.symbol == 'uXRN'}">uXRN</a>
  </li>
</ul>

